html {
  scroll-behavior: smooth;
  transition:  all 0.3s;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 11.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: transparent;}
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    border-right: 0px solid rgba(255,255,255,.75);
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /*transform: translateY(-50%);*/    
}
.navbar {
    border-bottom: 0px solid #c5f5fe;
    background: transparent;
}
.navbar-nav li a {
    color: #fff;
    padding: 22px 15px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    background: transparent;
    color: #fff;
    opacity: 1;
}
.top-bg{
  background: url("../img/background.jpg");
  min-height: 720px ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.top-bg::before {
    content: "";
    display: block;
    position: absolute;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(150deg, #1cb1fe 15%, #7adbefa3 60%, #a3e7f5 98%);
}
.top-content-wrap{
  margin-top: 250px!important;
}
.top-content{
  color: #fff;
}
.slider-action-btn a i {
    font-size: 24px;
    color: #fff;
}
.slider-action-btn a {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.customers-section{
  margin-top: 100px;
}
.top-slider-section .section-shape{
    z-index: 0;
}

/*wave css*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(.55)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY()
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(.55)
    }
}
.waveWrapper {
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 150px;
    bottom: -1px;
    background-color: transparent;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 1.5;
}
.bgBottom {
    z-index: 5;
    opacity: 0.75;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveMiddle {
    background-size: 50% 150px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
}
.waveBottom {
    background-size: 50% 120px;
}
.waveAnimation .waveBottom {
    animation: move_wave  35s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;

}
/*feature card div*/
.far-color {
    font-size: 35px;
    margin-bottom: 10px;
    background:linear-gradient(to bottom, #1cb1fe 15%, #3cb8ee 70%, #5dbedb 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card{
  border:0px solid rgba(155, 216, 244, 0.21);
    background-color:transparent;
}
.card-header{
  background-color:transparent;
  border-bottom:0px solid rgba(155, 216, 244, 0.21);
}
/*###featurs section##*/
.feature-image{
  position: relative;
  margin-top: 85px;
}
.carousel, .carousel-gif {
    position: absolute;
    top: 12px;
    width: 218px;
    left: 65px;
    overflow: hidden;
    border-radius: 21px;
}
.carousel-gif img{
height: 470px;
border-radius: 24px;

}
.carousel-item img {
    width: 100%;
    height: 470px;
    border-radius: 24px;
}
.carousel-control-next-icon {
    background-image:None;
}
.carousel-control-prev-icon i{
  color: red;
}
.carousel-control-prev-icon {
    background-image:None;
}
.carousel-control-next-icon i{
  color: red;
}
#features{
  margin-top: 20px;
  background-color: #dddddd38;
}
.features-heading h3{
  font-weight: 700;
  color: #13d3fa;
}

.single-feature {
    align-items: flex-start!important;
    display: flex!important;
    /*padding: 1.5em 1em;*/
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin-top: 40px;
}
.feature-icon {
    margin-right: 20px;
    transition: all 0.3s ease-in;
}
.icon {
    display: inline-flex;
    min-width: 2.75rem;
    min-height: 2.75rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12);
    color: inherit;
    transition: all 0.3s ease-in;
}

.icon-shape {
    text-align: center;
    border-radius: .25rem;
    align-items: center;
    justify-content: center;
}
.white-text {
    color: #fff !important;
}
.bg-color {
    background: #13d4fa !important;
}
.icon-shape i {
    font-size: 1.2rem;
}

.single-feature:hover .icon{
    border-radius: 50%;
}
.section-heading h3 {
    font-weight: 700;
}

h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.ptb-90 {
    padding: 90px 0;
}
.pricing-single {
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    transition: all 0.3s ease-in;
}
.pricing-single .pricing-single-header {
    border-bottom: 1px dashed #fff;
    padding: 25px 20px 25px;
    margin: 10px 30px;
}
.pricing-single .pricing-single-header h4 {
    font-size: 25px;
    margin-bottom: 0;
}
.pricing-single .pricing-single-header span {
    display: block;
    font-size: 16px;
    font-weight: 300;
}
.pricing-single .pricing-single-content {
    padding: 40px 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.pricing-single .pricing-single-content .price-icon-sign {
    position: relative;
    top: -30px;
    font-size: 20px;
}
.pricing-single .pricing-single-content .main-price {
    font-size: 70px;
    font-weight: 400;
    line-height: .5;
    letter-spacing: -3px;
}
.pricing-single .pricing-single-content .sub-price {
    font-size: 30px;
    font-weight: 400;
}
.pricing-single .pricing-single-content .main-price-info {
    position: relative;
    display: block;
    letter-spacing: 1px;
}
.pricing-single .pricing-single-content .main-price-info:before {
    font-size: 22px;
    font-weight: 300;
    content: "/";
    margin-right: 3px;
  }
  .softo-btn-outline {
      padding: 5px 30px;
      border: 2px solid #13d2fa;
      background-color: transparent;
      color: #13d2fa;
      font: 600 14px/30px 'Montserrat', sans-serif;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      letter-spacing: 0.5px;
  }
  .softo-btn-outline:hover {
      padding: 5px 30px;
      border: 2px solid #13d2fa;
      background-color: transparent;
      color: #13d2fa;
      font: 600 14px/30px 'Montserrat', sans-serif;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      letter-spacing: 0.5px;
  }
  .softo-solid-btn:hover {
      border: 2px solid #13d2fa;
      background: transparent;
      color: #000;
      text-decoration: none;
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
  }
  .ggl-ply{
    padding: 10px 20px;
    border: 2px solid #13d2fa;
    background-color: #13d3fa;
    color: #fff;
    font: 600 14px/30px 'Montserrat', sans-serif;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    letter-spacing: 0.5px;
}
  .softo-solid-btn {
    padding: 5px 30px;
    border: 2px solid #13d2fa;
    background-color: #13d3fa;
    color: #fff;
    font: 600 14px/30px 'Montserrat', sans-serif;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    letter-spacing: 0.5px;
}
  .bg-price{  background-color: rgba(241, 251, 253, 0.44);}
  .pricing-single:hover {
    -webkit-box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.13);
    -o-box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.13);
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
}

.pricing-single {
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    transition: all 0.3s ease-in;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .carousel, .carousel-gif  {
      position: absolute;
      top: 12px;
      width: 218px;
      left: 34px;
      overflow: hidden;
      border-radius: 21px;
  }

}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .carousel, .carousel-gif  {
      position: absolute;
      top: 12px;
      width: 191px;
      left: 8px;
      overflow: hidden;
      border-radius: 21px;
  }
  .carousel-gif img {
      width: 100%;
      height: 396px;
      border-radius: 24px;
  }
  .carousel-item img {
      width: 100%;
      height: 396px;
      border-radius: 24px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
  .carousel {
    position: absolute;
    top: 12px;
    width: 218px;
    left: 145px;
    overflow: hidden;
    border-radius: 21px;
    right: 0px;
  }
    .carousel-gif {
      position: absolute;
      top: 12px;
      width: 218px;
      left: 145px;
      overflow: hidden;
      border-radius: 21px;
      right: 0px;
    }
  .top-content-wrap {
    margin-top: 50px!important;
}
}
@media screen and (max-width: 360px) and (min-width: 321px){
.download-btn {
    width: 70%!important;
    padding: 5px 50px;
}
}
@media only screen and (min-width: 226px) and (max-width: 575px){
  .navbar-collapse{
    width: 100%;
    margin-top: -5px;
    margin-left: -16px;
    margin-right: -19px;

  }
  .navbar-brand img{
    max-width: 75%
  }
  .carousel {
    display: none;
  }
  .top-content-wrap {
    margin-top: 50px!important;
}

  .feature-phone{
    display: none;
  }
}
  @keyframes move_wave {
      0% {
          transform: translateX(0) translateZ(0) scaleY(.5)
      }
      50% {
          transform: translateX(-25%) translateZ(0) scaleY()
      }
      100% {
          transform: translateX(-50%) translateZ(0) scaleY(.5)
      }
  }
    .ptb-90, .pt-90, .pb-90{
        padding: 50px 0;
    }
    .mobile-slider-area img {
    margin-top: 50px;
    max-width: 35%;
    margin-bottom: 97px;
}

.navbar-nav li a {
    color: #fff;
    padding: 22px 25px!important;
}
nav{
height: 71px!important;
transition: height 1s ease 0s, transform 2s ease 0s;
}
.download-section{
  background: url("../img/apple-gadget-iphone-48603.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}
.download-section::before {
    content: "";
    display: block;
    position: absolute;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(150deg, #1cb1fe 15%, #7adbefa3 60%, #a3e7f5 98%);
}
.download-app-img{
    position: relative;
}
.download-app-text h3, .download-app-text p {
    color: #fff;
    margin-bottom: 0px;
}
.gif{
      position: absolute;
      top: 169px;
      right: 111px;
}
.gif img{
  width: 178px;
      margin-top: -108px;
      height: 304px;
      border-radius: 0px;
}
@media screen and (max-width: 991px) and (min-width: 220px){
  .navbar-collapse{
    width: 100%;
    margin-top: -5px;
    margin-left: -16px;
    margin-right: -19px;
    background:  linear-gradient(150deg, rgb(19, 211, 250) 15%, rgb(19, 212, 250) 60%, rgb(28, 177, 254) 94%)!important;

  }
  .navbar-nav .nav-link{
    padding-left: 5px;
  }
  .download-app-img{
      display: none;
  }
.navbar {
    background: linear-gradient(150deg, rgb(19, 211, 250) 15%, rgb(19, 212, 250) 60%, rgb(28, 177, 254) 94%);
}
}
.download-section {
    margin-top:0px;
    position: relative;
    z-index: 1;
}
.download-app-img {
    margin-top: -108px;
}
.download-app-text {
    padding: 100px 0;
}
.download-app-text h3, .download-app-text p {
    color: #fff;
}
.download-app-button {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 40px;
    transition: all 0.3s ease-in;
}
.download-btn.hover-active {
    background: #fff;
}
.download-btn {
    border: 1px solid #fff;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    float: left;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.download-btn i{
    font-size: 28px;
    line-height: 28px;
    margin-right: 10px;
    color: #fff;
}
.download-btn p{
color: #fff;
}
.download-btn p small {
    font-size: 12px;
    line-height: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
a, a:active, a:focus, a:active {
    text-decoration: none;
}
/*##contact section*/
.section-heading {
    margin-bottom: 50px;
}
.section-heading h3 {
    font-weight: 700;
}
.section-heading p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 20px;
}
.footer-address {
    margin-bottom: 20px;
}
h6 {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
}
.footer-address p {
    margin-bottom: 15px;
}
.footer-address ul li  {
    list-style: none;
    list-style-type: none;
}
.footer-address ul li a {
    color: #13d2fa;
}
.footer-address ul li a:hover {
    text-decoration: none;
}
.form-group {
    margin-bottom: 20px;
}

.contact-us-form .form-group .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #f9f9f9;
    border-radius: 0;
    background: #f9f9f9;
}
.form-control {
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    height: 35px;
    box-shadow: none;
}
.contact-icon{
  color:#13d2fa;
  margin-right: 5px;
}
/*aboutus*/

.aboutus {
  background-color: #dddddd38;
  padding-top: 120px;
  padding-bottom: 150px;
}
.aboutus .header{
    margin-top: 0px;
    margin-bottom: 25px;
    color: #13d3fa;
    font-weight: 900;
    font-family: 'Uni Sans Bold', sans-serif;
    text-align: center
}
.aboutus p{
    font-family: 'Uni Sans Bold', sans-serif;
    color: #000;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.feature-phone{
  margin-left: 0px;
}

/*app mokup slider css*/
.mobile-slider-area{
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 9;
    margin-top: 50px;
}
.mobile-slider-area img {
    margin: 0 auto;
}

.mobile-slider {
    border-radius: 26px;
    overflow: hidden;
    position: absolute;
    left: 20%;
    top: 13px;
    width: 60%;
}

.mobile-slider::before {
    background: rgba(0, 0, 0, 0) url("../img/mockup_top.png") no-repeat scroll center center / cover;
    border-radius: 0 0 50px 50px;
    content: "";
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 9;
}

.mobile-slider.owl-carousel .owl-item img {
    max-width: 100%;
    width: auto;
}

@media only screen and (min-width: 1920px) {
    .mobile-slider {
        border-radius: 33px;
        height: 90%;
        left: 0;
        margin: 20px auto auto;
        right: 0;
        top: 0;
        width: 86%;
    }
    .mobile-slider-area img{
        width: 100%;
    }
    .mobile-slider::before {
        height: 25px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .download-app-img {
    margin-top: -31px;
}
.gif {
  position: absolute;
  top: 155px;
  right: 60px;
}
.gif img {
  width: 165px;
  margin-top: -101px;
  height: 285px;
}
    .mobile-slider {
        border-radius: 23px;
        height: 94%;
        left: 0;
        margin: 17px auto auto;
        right: 0;
        top: 0;
        width: 86%;
    }
    .mobile-slider::before {
        height: 24px;
    }
    .welcome-text h1 {
        font-size: 48px;
    }
    .mobile-slider-area img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .welcome-text {
        text-align: center;
    }
    .mobile-slider-area {
        display: none;
    }
}

@media only screen and (max-width: 567px) {

  .top-bg {
    background: url(../img/background.jpg);
    min-height: 473px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
}

@media only screen and (max-width: 767px) {

    .welcome-text {
        text-align: center;
    }
    .welcome-text h1 {
        font-size: 26px;
    }
    .welcome-area .download-button {
        display: none;
    }
    .mobile-slider-area {
        display: none;
    }
    .download-button a:first-child {
        margin-bottom: 30px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .welcome-text h1 {
        font-size: 32px;
    }
    .welcome-area .download-button {
        display: block;
    }
    .download-button a:first-child {
        margin-bottom: inherit;
    }
}

/*header slider css*/

.phone-carousel {
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: scale(1) perspective(2006px) rotateY(35deg) rotateX(35deg) rotate(5deg);
}

.phone-carousel .phone {
    position: relative;
    z-index: 5;
    width: 100%
}

.phone-carousel .phone .header-slider {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5% 11.75% 0 11.75%;
    border-radius: 30px;
}

.phone-carousel .phone .header-slider .item img {
    cursor: -webkit-grab;
    border-radius: 35px;
}
.phone-carousel .owl-theme .owl-nav{
    margin-top: 20px;
}
.phone-carousel .owl-theme .owl-nav button{
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 1px;
    color: #fff;
    background: #281483;
}
.phone-carousel .owl-theme .owl-nav button.owl-next{
    border-radius: 0 30px 30px 0;
}
.phone-carousel .owl-theme .owl-nav button.owl-prev{
    border-radius: 30px 0 0 30px;
}
.phone-carousel .owl-theme .owl-nav button:hover{
    background: #281483;
}
.phone-carousel .owl-theme .owl-nav button:focus, .phone-carousel .owl-theme .owl-nav button:active{
    outline: none;
    background: #281483;
    color: #fff;
    border: none;
}
.phone-carousel .owl-theme .owl-dots {
    position: absolute;
    top: 48%;
    left: 0;
    margin: 0!important
}

.phone-carousel .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid transparent;
    margin: 0 4px 7px 4px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.phone-carousel .owl-theme .owl-dots .owl-dot.active {
    background-color: transparent;
    border-color: #fff;
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    -o-transform: scale(1.35);
    transform: scale(1.35)
}

.phone-carousel .owl-theme .owl-dots .owl-dot span {
    display: none
}

.slider-indicator{
    padding: 0 20px;
    text-align: center;
    position: relative;
    display: block;
    z-index: 10;
    margin-top: 5px;
}
.slider-indicator ul li{
    display:inline-block;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    -webkit-transition:linear .1s;
    transition:linear .1s;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.slider-indicator ul li:focus,.slider-indicator ul li:hover{
    color:#281483
}

.indicator-color ul li{
    background: #f9f9f9;
    color: #281483;
    border-radius: 2px;
}
.indicator-color ul li:hover{
    color: #fff;
    background: #281483;
}
.phone-carousel .phone .header-slider:before{
    background: rgba(0, 0, 0, 0) url(../img/mockup_top.png) no-repeat scroll center center / cover;
    border-radius: 0 0 50px 50px;
    content: "";
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 20px;
    width: 50%;
    z-index: 9;
}
.owl-carousel.owl-hidden {
    opacity: 2!important;
}
